main.calendar {
  font-size: 1rem;
  button {
    @include button($button-main);
  }
  input {
    font-size: 1rem;
  }
  .calendarInputContainer {
    display: flex;
    flex-direction: column;
    input {
      height: 2rem;
      border: 1px solid black;
      border-radius: 0.5rem;
      padding-left: 0.5rem;
      font-size: 1rem;
    }
    h2 {
      text-align: center;
    }
  }
  .listContainer {
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0;
      list-style: none;
      li {
        border-bottom: 1px solid #7451ff;
      }
      li:nth-of-type(1) {
        border: none;
      }
      li.oldEvent {
        border-bottom: 1px solid red;
        opacity: 0.7;
      }
    }
    ul.hideList {
      display: none;
    }
    button {
      @include button($button-main);
    }
    h3 {
      text-align: center;
    }
  }
}
