#footerNav {
  width: 100%;
  outline: 1px solid red;
  position: fixed;
  bottom: 0;
  background-color: red;
  @include navButtonTest;
  ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    li {
        #homeBtn {
            @include navButtons;
        }
        #todoBtn {
            @include navButtons;
        }
        #habitBtn {
            @include navButtons;
        }
        #logOutBtn {
            @include navButtons;
        }
    }
    // button {
    //   @include button($button-main);
    // }
  }
}
