#footerNav {
  width: 100%;
  outline: 1px solid #5D50FA;
  position: fixed;
  bottom: 0;
  background: linear-gradient(to bottom, #876cf4, #9983f3, #a48eff)
    no-repeat;
  background-size: cover;
  ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    @include desktop {
        justify-content: center;
        gap: 0;
    }
    li {
        width: 25%;
        display: flex;
        justify-content: center;
        #homeBtn {
            @include navButton($button-main, #ffffff);
        }
        #todoBtn {
            @include navButton($button-main, #ffffff);
        }
        #habitBtn {
            @include navButton($button-main, #ffffff);
        }
        #logOutBtn {
            @include navButton($button-main, #ffffff);
        }
    }
    // button {
    //   @include button($button-main);
    // }
  }
}
