.habits-body {
  margin: 0;
  font-family: "Khula", sans-serif;
  background: linear-gradient(to bottom, #7451ff, #9176ff, #a48eff, #a48eff)
    no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 4.5rem;
  .container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;

    #cat {
      width: 150px;
      margin: 0 auto;
    }
    #up-arrow {
      width: 25px;
    }

    #habit-prio {
      background-color: #dce1eb;
      border: 0;
      padding: 15px;
      border-radius: 8px;
      font-size: 20px;
      text-align: center;
      font-family: "Rubik", sans-serif;
      margin: 10px 0;
    }

    input {
      color: #432000;
      background-color: #dce1eb;
      border: 0;
      padding: 15px;
      border-radius: 8px;
      font-size: 20px;
      text-align: center;
      font-family: "Rubik", sans-serif;
      margin: 10px 0;
    }

    button {
      @include button($button-main);
    }
    button:hover {
      background-color: #432000;
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    ul li {
      font-size: 20px;
      background-color: #7451ff;
      padding: 15px;
      border-radius: 8px;
      flex-grow: 1;
      text-align: center;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    }

    ul li:hover {
      // background-color: #ffecc7;
      cursor: pointer;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Lägger till en subtil skuggning */
      color: black; /* Ändrar textfärgen för att göra den mer framträdande */
    }
  }
  /* Stilar för action-container */
  .action-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; /* Justera efter behov */
  }

  .action-bar {
    width: 30px; /* Justera bredden efter behov */
    height: 30px; /* Justera höjden efter behov */
    margin: 5px; /* Justera marginalen efter behov */
    cursor: pointer;
  }

  /* Stilar för fieldset */
  fieldset {
    margin-top: 20px; /* Justera efter behov */
    border: 2px solid black; /* Justera färg och tjocklek efter behov */
    border-radius: 8px;
    padding: 10px;
    width: 100%; /* Justera bredden efter behov */
  }

  legend {
    font-size: 18px; /* Justera storleken efter behov */
    color: black; /* Justera färgen efter behov */
    font-weight: bold;
    margin-bottom: 10px; /* Justera efter behov */
  }

  label {
    margin-right: 10px; /* Justera efter behov */
    color: #432000; /* Justera färgen efter behov */
  }

  /* Stilar för checkboxar */
  input[type="checkbox"] {
    width: 20px; /* Justera bredden efter behov */
    height: 20px; /* Justera höjden efter behov */
    margin: 5px; /* Justera avståndet efter behov */
  }

  input[type="checkbox"]:checked {
    background-color: #432000; /* Justera färgen efter behov */
  }

  .hidden {
    display: none;
  }
}
