@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: #eef0f4;
  color: #432000;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}
.container img {
  width: 150px;
  margin: 0 auto;
}
.container #habit-prio {
  background-color: #dce1eb;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin: 10px 0;
}
.container input {
  color: #432000;
  background-color: #dce1eb;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin: 10px 0;
}
.container button {
  color: #fdfdfd;
  background-color: #ac485a;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
}
.container button:hover {
  background-color: #432000;
  cursor: pointer;
}
.container ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.container ul li {
  font-size: 20px;
  background-color: #fffdf8;
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.container ul li:hover {
  background-color: #ffecc7;
  cursor: pointer;
}

.body-todo {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 800px;
  max-width: 1400px;
}
.body-todo .wrapper {
  height: 100%;
  border: 2px solid black;
  background-color: grey;
}
.body-todo header {
  width: 100%;
  background-color: aquamarine;
  margin-bottom: 5%;
}
.body-todo header #navbar-header {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.body-todo footer {
  width: 100%;
  background-color: aquamarine;
}
.body-todo footer #navbar-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.body-todo .content-wrapper {
  width: 100%;
  min-height: auto;
  max-width: 600px;
  background-color: grey;
  display: flex;
}
.body-todo .content-wrapper #container-category {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.body-todo .content-wrapper #container-category #category-card {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.body-todo .content-wrapper #container-category .icon-category {
  order: 2;
}
.body-todo .content-wrapper #container-category #card-text {
  order: 1;
}
.body-todo .content-wrapper #container-overview #todo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid lightgrey;
}
.body-todo .content-wrapper #container-overview #todo #icon_checkbox {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
}
.body-todo .content-wrapper #container-overview #todo .todo-titel {
  font-size: 20px;
  padding: 20px;
}
.body-todo .content-wrapper #container-overview button {
  border: none;
  background: none;
  cursor: pointer;
}
.body-todo .content-wrapper #container-todos {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.body-todo .content-wrapper #container-todos #todoList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  /* Lägg till denna regel för att få ul att fylla hela bredden */
  margin: 0%;
}
.body-todo .content-wrapper #container-todos #todoList .todo-item {
  width: 100%;
  display: flex;
  /* Använd flexbox för att justera innehållet */
  justify-content: space-between;
  margin: 0%;
}
.body-todo .content-wrapper #container-todos #todoList .delete-todo {
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.body-todo .content-wrapper #container-task {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}
.body-todo .content-wrapper #container-task .boxgroup-title,
.body-todo .content-wrapper #container-task .boxgroup-deadline,
.body-todo .content-wrapper #container-task .boxgroup-timeestimate,
.body-todo .content-wrapper #container-task .boxgroup-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
.body-todo .content-wrapper #container-task .boxgroup-icon {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  gap: 10px;
}
.body-todo .content-wrapper #todoInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.body-todo .content-wrapper #todoInput label {
  font-size: small;
  color: black;
}
.body-todo .content-wrapper #todoInput button {
  cursor: pointer;
}
.body-todo .content-wrapper #todoInput #addTodoButton {
  width: 50%;
  margin-left: 80px;
}
.body-todo .content-wrapper #todoInput .boxgroup {
  width: 100%;
  margin: 5%;
}/*# sourceMappingURL=main.css.map */